html {
    font-family: "Playwrite DE Grund", cursive;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* HEADER */
.main-header {
    background-color: rgb(255, 115, 0);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-menu, .foot-menu ,.menu-logo {
    display: flex;
}

.main-menu {
    gap: 25px;    
}

.menu-logo, .foot-menu, .menu-logo {
    gap: 10px;    
}

.logo {
    width: 150px
}

.main-menu, .cta {
    margin: 0 30px;
    color: white;
}

/* layout */ 

img {
    max-width: 100%;
    display: block;
}

.container {
    margin: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    width: calc(100% / 3);
    padding-right: 15px;
    margin-bottom: 50px ;
}

/* ELEMENTI DENTRO LAYOUT */

.capture {
    position: relative;
}

span {
    color: red;
}

.heart {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    border-radius: 30px;
}

.sconto{
    background-color: red;
}

.eco {
    position: absolute;
    left: 60px;
    background-color: green;

}

.eco-lt {
    background-color: green;
}

.eco, .sconto, .eco-lt {
    position: absolute;
    bottom: 50px;
    padding: 3px 10px;
    color: white;
}

.sconto, .eco-lt {
    left: 0;
}

.card:hover {
    background-size: contain;
    background-repeat: no-repeat;
}

.card-1:hover {
    background-image: url(../img/1b.webp);
}

.card-2:hover {
    background-image: url(../img/2b.webp);
}

.card-3:hover {
    background-image: url(../img/3b.webp);
}

.card-4:hover {
    background-image: url(../img/4b.webp);
}

.card-5:hover {
    background-image: url(../img/5b.webp);
}

.card-6:hover {
    background-image: url(../img/6b.webp);
}

.picture:hover {
    opacity: 0;
}

.heart:hover  {
    background-color: red;
}

.text:hover {
    font-size: 150%;
}

/* FOOTER */

.main-footer {
    background-color: rgba(7, 7, 7, 0.918);
    color: white;
    line-height: 3em;
}

.cta >* :hover {
    opacity: 0.6;
}

.privacy:hover {
    text-decoration: underline;
}
