* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* layout */ 

img {
    max-width: 100%;
    display: block;
}

.container {
    margin: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    width: calc(100% / 3);
    padding-right: 15px;
    padding-bottom: 30px ;
}

.capture {
    position: relative;
}

span {
    color: red;
}

.heart {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
}